'Step 1: We import the necessary Python libraries that will be used throughout the project.'

In [1]:
import numpy as np
import pandas as pd

 'Step 2: Upload the CSV file and display the first five rows'

In [2]:
data = pd.read_csv('travel_times.csv')
data

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Toll,Comments
0,1/6/2012,16:37,Friday,home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,8:20,Friday,work,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,home,51.27,1207.4,82.0,NaN,NaN,NaN,35.9,No,NaN
3,1/4/2012,7:53,Wednesday,work,49.17,132.3,74.2,82.9,NaN,39.8,35.6,NaN,NaN
4,1/3/2012,18:57,Tuesday,home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,8:09,Monday,work,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,8:03,Thursday,work,50.90,3123.7,76.2,NaN,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,home,53.28,125.8,61.6,NaN,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,home,51.73,-120.0,62.8,NaN,NaN,NaN,33.6,Yes,NaN

'Step 3: We use the info() function to get a summary of the dataset, including the number of non-null values, data types of each column, and memory usage'

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  188 non-null    float64
 8   FuelEconomy     186 non-null    float64
 9   TotalTime       176 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Toll            174 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(7), object(6)
memory usage: 20.9+ KB

'Step 4: Since the 'Comments' column has a considerably higher number of missing (NaN) values than the other columns, we decide to drop it from the dataset.'

In [4]:
data.drop('Comments', axis=1, inplace=True)

In [5]:
from sklearn.impute import SimpleImputer

'Step 5: We use the 'mean' strategy, which replaces missing values whit the mean of the respective column.'

In [6]:
imputer = SimpleImputer(strategy='mean')
c2 = ['FuelEconomy', 'AvgMovingSpeed']
data[c2] = imputer.fit_transform(data[c2])
data[c2] = data[c2].round(2)

'Step 6:Outlier Detection using the IQR method'

In [7]:
Q1 = data['MaxSpeed'].quantile(0.25)
Q3 = data['MaxSpeed'].quantile(0.75)
IQR = Q3 - Q1
Lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

The detected outliers are:

In [8]:
outlier_speed = sorted(data[(data['MaxSpeed'] < Lower) | (data['MaxSpeed'] > upper)]['MaxSpeed'].tolist())
outlier_speed

[-138.0,
 -120.0,
 -32.5,
 112.2,
 114.4,
 140.9,
 1205.0,
 1207.4,
 1207.5,
 1263.7,
 1328.5,
 3123.7]

'Step 7:Replace outliers with the column mean'

In [9]:
mean_speed = round(data['MaxSpeed'].mean(), 2)
data['MaxSpeed'] = data['MaxSpeed'].apply(lambda x: mean_speed if x < Lower or x > upper else x)

In [10]:
print(sorted(data[(data['MaxSpeed'] < Lower) | (data['MaxSpeed'] > upper)]['MaxSpeed'].tolist()))

[166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07, 166.07]